* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: left;
  padding-left: 130px;
  height: 45px;
  width: 100%;
  margin-top: 5px;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  font-family: sans-serif;
  position: fixed;
  background-color: #ffffff;
  height: 70px;
  width: 100%;

}



nav {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-right: 250px;
  gap: 30px;
  font-weight: bolder;

}




.contact {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
  color: blue;
  font-weight: bold;
  font-size: 15px;
}



.button {
  background-color: #2f52ff;
  color: white;
  padding: 10px 20px;
  height: 50px;
  width: 160px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


.button:hover {
  background-color: #3859ffcb;
  transform: translate(-1px, -1px);

}

#two {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 100px;
}

hr {
  color: #f2f3f9;
}

#headline {
  display: flex;
  margin-top: 80px;
}

#headline #headline-image img {
  height: 650px;
  width: 700px;


}

#headline #headline-main {
  font-size: 55px;
  padding: 80px;
  padding-bottom: 10px;

  text-wrap: wrap;
  color: rgb(19, 19, 71);
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;


}

#headline #headline-sub #headline-bottom {

  font-size: 25px;
  color: #7a7d8c;
  padding: 80px;
  padding-top: 10px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;


}

#headline #headline-sub .button2 {
  background-color: #2f52ff;
  color: white;
  margin-left: 80px;

  padding: 10px 20px;
  height: 62px;
  width: 144px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#headline #headline-sub .button2:hover {
  background-color: #3859ffcb;
  height: 60px;
  width: 140px;
  cursor: pointer;
}


#headline #headline-sub .button3 {

  background-color: #f7f8fc;
  color: rgb(19, 19, 71);

  padding: 10px 20px;
  height: 62px;
  width: 180px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

}

#headline #headline-sub .button3:hover {
  color: #3859ffcb;
  border: 2px solid #3859ffcb;
  height: 60px;
  width: 178px;
  cursor: pointer;
}

#portion {
  background-color: #ecf0f0;
  margin-top: 110px;
  padding-top: 120px;
}

#portion #middle-main {
  text-align: center;
  font-size: 20px;
  color: #2f52ff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

#portion #middle-sub {
  font-size: 34px;
  padding-top: 20px;
  color: rgb(19, 19, 71);
  text-align: center;
  text-wrap: wrap;
  padding-left: 450px;
  padding-right: 450px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

#portion #boxes {
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
}

#portion #box1 {
  padding-top: 25px;
  padding-left: 25px;
  height: 300px;
  width: 350px;
  background-color: whitesmoke;
  border-radius: 40px;
  box-shadow: 1px 0px 8px 0px #b1b8d9;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}


#portion #box1:hover {
  cursor: pointer;
  border: 1px solid rgb(40, 40, 243);
  transform: translate(-0px, -10px);
}




#portion #box1 img {
  margin-top: 25px;
  height: 55px;
  width: 55px;

}

#portion #box1 #box1-main {
  margin-top: 15px;
  font-size: 28px;
  color: rgb(19, 19, 71);
}

#portion #box1 p {
  margin-top: 20px;
  font-size: 18px;
  color: #7a7d8c;
}




#portion .button4 {
  background-color: #2f52ff;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 700px;
  margin-bottom: 150px;
  height: 60px;
  width: 200px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

#portion .button4:hover {
  background-color: #3859ffcb;
  height: 58px;
  width: 198px;
}

#info {
  display: flex;
  height: 850px;
  width: 100%;
  margin-bottom: 60px;
}

#info #info-img img {
  height: 80%;
  width: 71%;
  margin-left: 120px;
  margin-top: 120px;
  border-radius: 30px;
  object-fit: cover;
}

#info #info-text {
  height: 850px;
  width: 82%;
  padding-right: 120px;
}

#info #info-text .text-context {
  margin-top: 120px;
  color: #2f52ff;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#info #info-text .text-sub {
  margin-top: 10px;
  color: rgb(19, 19, 71);
  font-size: 35px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#info #info-text .access {
  display: flex;
  margin-top: 60px;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-left: 40px;
  height: 120px;
  width: 600px;
  border-radius: 30px;
  font-size: 23px;
  font-weight: bold;
  color: #2f52ff;
  background-color: white;
  border: 2px solid white;
  box-shadow: 2px 2px 12px 2px #c9cbd4;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

#info #info-text .access:hover {
  cursor: pointer;
  height: 118px;
  width: 596px;
  border: 1px solid blue;


}

#info #info-text .access .icon1 {
  position: relative;
  left: 250px;
  font-size: 40px;
  font-weight: bolder;
}

#info #info-text .access .icon {
  position: relative;
  left: 320px;
  font-size: 40px;
  font-weight: bolder;
}


#office {
  height: 750px;
  width: 100%;
  display: flex;
  background-color: #eff7fafd;
  ;
}

#office #location {
  padding-left: 140px;
  padding-top: 120px;
  padding-right: 80px;
  height: 750px;
  width: 50%;

}

#office #picture {
  height: 750px;
  width: 50%;
}

#office #picture img {
  height: 750px;
  width: 100%;
  object-fit: cover;
}

#office #location #loca-line p {
  color: #2f52ff;
  font-weight: bold;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

#office #location #loca-heading #heading {
  margin-top: 12px;
  margin-bottom: 12px;
  color: rgb(19, 19, 71);
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}


#office #location #loca-paragraph p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #7a7d8c;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#office #location #loca-list li {
  list-style: none;
}


#office #location #loca-list {
  display: flex;
  flex-direction: column;
  align-items: left;

}



#office #location #loca-list .popup {
  margin-bottom: 10px;
  position: relative;
  top: 10px;
  font-size: 18px;
  color: rgb(19, 19, 71);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


#office #location #button5 button {
  margin-top: 50px;
  height: 60px;
  width: 180px;
  border-radius: 15px;
  font-size: 16px;
  background-color: #2f52ff;
  color: whitesmoke;
  font-weight: bold;
}



#office #location #button5 button:hover {
  background-color: #3859ffcb;
  cursor: pointer;
  height: 58px;
  width: 178px;
}



#note {
  padding-right: -1200px;
  display: flex;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 180px;
  margin-bottom: 200px;
  height: 400px;
  width: 1230px;
  border-radius: 50px;
  background: rgb(19, 19, 71);
}

#note #note-one img {
  margin-left: 100px;
  margin-top: -30px;
  height: 410px;
}

#note #note-two {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 850px;
  bottom: 260px;

}

#note #note-two h2 {

  height: 300px;
  width: 350px;
  font-size: 38px;
  color: whitesmoke;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#note #note-two button {
  margin-top: -150px;
  height: 60px;
  width: 180px;
  border-radius: 15px;
  font-size: 16px;
  background-color: #2f52ff;
  color: whitesmoke;
  font-weight: bold;
}


footer {
  height: 62vh;
  width: 100%;

  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
}


footer #leftside-footer {
  margin: 80px;
  width: 50%;

}


footer #leftside-footer #leftside-one img {
  height: 50px;
  width: 140px;
}

footer #leftside-footer #leftside-one .text {
  margin-bottom: 4px;
  padding-bottom: 5px;
  color: #030c3d;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


footer #leftside-footer #leftside-one .van {
  margin-bottom: 15px;
  padding-bottom: 5px;
  color: #030c3d;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

footer #leftside-footer #leftside-two {
  color: white;
  display: flex;
  text-align: center;
  list-style: none;
  font-size: 25px;
  gap: 8px;

}


footer #leftside-footer #leftside-two #circle {
  height: 35px;
  width: 35px;
  border-radius: 23px;
  background-color: blue;
  padding-top: 2px;
}



footer #rightside-footer {
  margin: 80px;
  width: 50%;
  display: flex;
  justify-content: right;
  margin-right: 120px;
  gap: 80px;
}

footer #rightside-footer .rightside-one {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

footer #rightside-footer .rightside-one h2 {
  padding-bottom: 14px;
}


footer #rightside-footer .rightside-one li {
  list-style-type: none;
  color: #030c3d;
  padding: 10px 0;
  font-size: 18px;
}

footer #rightside-footer .rightside-two {
  padding-top: 55px;
}

footer #rightside-footer .rightside-two li {
  padding: 10px 0;
  list-style-type: none;
  color: #030c3d;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

footer #rightside-footer .rightside-three {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



footer #rightside-footer .rightside-three h2 {
  padding-bottom: 14px;

}

footer #rightside-footer .rightside-three li {
  list-style: none;
  padding: 10px 0;
  list-style-type: none;
  color: #030c3d;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}